/*indepax*/



// 轮播图
.index-lbt {
    width: 920px;
    box-sizing: border-box;
    background: $text-white;
}

// 公告
.index-notice {
    width: 230px;
    height: 400px;
    box-sizing: border-box;
    background: $text-white;
    // 标题
    .notice-ttl {
        height: 38px;
        line-height: 38px;
        padding-right: 10px;
        font-size: 16px;
        color: rgb(50, 50, 50);
        border: 1px solid #ddd;
        a {
            font-size: 14px;
            color: rgb(50, 50, 50);
        }
    }
    // 列表
    ul {
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px 10px;
        li {
            a {
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-left: 10px;
                color: rgb(69, 69, 69);
            }
            &+li {
                margin-top: 10px;
            }
        }
    }
    // seting 小图标
    .table {
        margin-top: 20px;
        border: 1px solid #ddd;
        text-align: center;
        // icon
        tr td {
            padding: 12px;
            a {
                color: $text-df;
            }
            img {
                width: 26px;
                height: 26px;
            }
            h5 {
                margin-top: 10px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 12px;
            }
        }
    }
}


/*-选好货区*/

.index-discount {
    margin-top: 30px;
    padding-top: 10px;
    // 标题
    h4 {
      
        width: 100%;
        padding-left: 15px;
        color: $text-df;
        background: $body-bg;
        border-left: 2px solid $text-danger;
    }
    // 大图
    .index-discount-br {
        margin-top: 15px;
        border: 1px solid $text-ash-3;
        box-sizing: border-box;
    }
    .big-img {
        width: 250px;
        padding: 10px;
        img {
            width: 240px;
            height: 290px;
            transition: all .5s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    // select-list
    .select-list {
        // 标题 
        ul {
            li {
                float: left;
                border: 1px solid $text-ash-3;
                border-top: none;
                &+li {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
                a {
                    display: block;
                    padding: 0;
                    width: 150px;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    font-size: 14px;
                    transition: all .5s;
                }
                // select style in active
                &.active a {
                    background: $text-danger;
                    color: $text-white;
                    &:hover {
                        color: $text-white !important;
                    }
                }
            }
        }
        // 内容 tab-content
        .tab-content {
            width: 900;
        }
        .tab-pane {
            .item {
                width: 226px;
                float: left;
                padding: 20px 20px 10px 20px;
                border: 1px solid $text-ash-3;
                border-top: none;
                border-bottom: none;
                text-align: center;
                &+.item {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
                img {
                    display: inline-block;
                    float: none;
                    width: 160px;
                    height: 160px;
                    transition: all .5s;
                }
                // p desc
                p {
                    margin-top: 10px;
                    height: 40px;
                    line-height: 20x;
                    font-size: 14px;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                }
                // price
                .price {
                    margin-top: 5px;
                    text-align: right;
                    color: $text-danger;
                    .iconfont {
                        margin-right: -3px;
                    }
                }
                &:hover img {
                    transform: scale(1.05);
                }
            }
        }
    }
}


/*每一项product*/

.index-prodItem {
    margin-top: 30px;
    // 标题
    .ttl-1 {
     padding-top: 10px;
        padding-bottom: 5px;
        background: $body-bg;
        // 下面横线
        border-bottom: 1px solid $text-danger;
        h4 {
              
            padding-left: 15px;
            margin: 0;
            color: $text-df;
            border-left: 2px solid $text-danger;
        }
        ul {
            margin: 0;
            padding-right: 10px;
            li {
                float: left;
                a {
                    display: block;
                    font-size: 14px;
                    color: rgb(153, 153, 153);
                }
                &+li {
                    margin-left: 15px;
                }
            }
        }
    }
    // 每一项 内容 img-item 
    .img-list {
        margin-top: 20px;
        background: $text-white;
        .img-item {
            float: left;
            width: 222px;
            height: 300px;
            padding: 20px 10px 10px 10px;
            border: 1px solid $text-ash-3;
            text-align: center;
            &+.img-item {
                margin-left: 15px !important;
            }
            // img 图片
            img {
                display: inline-block;
                float: none;
                width: 140px;
                height: 140px;
                margin-bottom: 20px;
                transition: all .8s;
            }
            &:hover img {
                transform: scale(1.1);
            }
            &:hover p {
                color: $text-danger;
            }
            p {
                height: 40px;
                line-height: 20px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font: 14px "微软雅黑";
                color: rgb(88, 88, 88);
                text-align: left;
            }
            // 单价
            .price {
                color: $text-danger;
                text-align: right;
            }
            .iconfont {
                margin-right: -3px;
            }
            .shop {
                width: 100%;
                margin-top: 10px;
                text-align: left;
                $shop-br: rgb(170, 178, 189);
                //文本框
                .xp-txt {
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                    vertical-align: middle;
                    text-align: center;
                    margin-top: 0;
                    padding: 4px 2px;
                    border-radius: 2px;
                    border: 1px solid $shop-br;
                    &:hover {
                        border: 1px solid $text-danger;
                    }
                }
                //加减
                .btn-group-vertical.btn-group-xs {
                    width: 20px;
                    height: 28px;
                    margin-left: 0px;
                    vertical-align: middle;
                    margin-left: 2px;
                    .btn {
                        height: 14px;
                        line-height: 14px;
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                        color: $text-ash-2;
                        //焦点
                        &:focus {
                            background: none;
                        }
                        //焦点
                        &:hover {
                            color: $text-danger;
                            background: none;
                        }
                    }
                    .btn+.btn {
                        border-top: none;
                    }
                }
                //购物车
                .xp-shop {
                    width: 32px;
                    height: 28px;
                    padding: 0;
                    margin-left: 5px;
                    vertical-align: middle;
                    text-align: center;
                    border: 1px solid $shop-br;
                    border-radius: 2px;
                    background: none;
                    outline: none;
                    .iconfont {
                        color: $text-ash-2;
                        font-size: 20px;
                        margin-left: -3px;
                    }
                    &:hover .iconfont {
                        color: darken($text-danger, 0);
                    }
                    &:hover {
                        border: 1px solid $text-danger;
                    }
                }
                //立即购买
                .xp-liji {
                    width: 90px;
                    height: 28px;
                    vertical-align: middle;
                    padding: 0;
                    border-radius: 4px;
                    margin: 0 !important;
                    margin-right: 0px;
                    margin-left: 10px;
                    background: $text-danger;
                    border: 1px solid $text-danger;
                    color: $text-white;
                    text-align: center;
                    outline: none;
                    transition: all .6s;
                    &:hover {
                        background: darken($text-danger, 10%);
                    }
                }
            }
        }
    }
}


/* 滑梯*/

.huati {
    position: fixed;
    top: 50%;
    display: none;
    ul.nav {
        li {
            border: 1px solid #ddd;
            a {
                display: block;
                padding: 5px;
                width: 40px;
                text-align: center;
                color: $text-df;
                background: #fff;
                &:hover {
                    background: #fff;
                }
            }
            &.active {
                border-color: $text-danger;
                a {
                    background: $text-danger;
                    color: $text-white;
                    &:hover {
                        color: $text-white !important;
                    }
                    &:active {
                        color: $text-white;
                    }
                }
            }
            &+li {
                border-top: none;
            }
        }
        // 置顶
        .top {
            position: relative;
            
            text-align: center;
            background: #fff;
           .iconfont {
               
                font-size: 32px;
                color: $text-ash;
               
             
               
            }
            
             &:hover .iconfont {
                
                    color: $text-danger;
                    cursor: pointer;
                }
                
           
                
        }
    }
}

  
     @keyframes iconfont-top{
        form{
            transform: translateY(-10px);
        } 
         to{
            transform: translateY(10px);
        }
     }