/*var*/

$text-df: rgb(70, 70, 70); // 默认字体
$text-ash: rgba(70, 70, 70, 0.9);
$text-ash-2: #aab2bd;
$text-ash-3: #e6e9ed;
$text-777: #666;
$text-f8: #f8f8f8;


$text-placeholder:rgb(170, 178, 189);
$text-white:#fff;
$body-bg: rgb(252, 252, 252);
$text-danger:rgb(222, 48, 50); // 主调字体
.bg-white {
    background: #fff;
}

//=================下面编写scss页面代码======================

