/*购物车*/


.shopcart-cont{
    
    margin-top: 30px;
    
    .ttl{
         height: 46px;
         line-height: 46px;
         background: #f8f8f8;
         border:1px solid #ddd;
         
         text-align: center;
    }
   
   
   .ttl2{
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 20px;
         height: 46px;
         line-height: 46px;
         background: #f8f8f8;
         border:1px solid #ddd;
         
   }
}
